<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Playground-Jugueteria</title>
  </head>

  <body>
    <header class="flex justify-between pl-4 bg-[#ba7cf7] items-center">
      <a href="/">
        <img
          src="https://i.postimg.cc/SR0V2mCR/Logo-removebg-preview.png"
          alt="Logo Playground Jugueteria"
        />
      </a>
      <nav class="flex w-1/2 justify-evenly">
        <div class="flex-auto w-2/3">
          <ul class="flex justify-evenly">
            <li><a href="#" class="hover:text-white transition">Home</a></li>
            <li>
              <a href="#marcas" class="hover:text-red-100 transition">Marcas</a>
            </li>
            <li>
              <a href="#" class="hover:text-blue-100 transition">Edades</a>
            </li>
            <li>
              <a href="#contacto" class="hover:text-purple-100 transition"
                >Contacto</a
              >
            </li>
            <li>
              <a href="/productCart" class="hover:text-cyan-500 transition p-2">
                <i class="fas fa-shopping-cart"> </i>
              </a>
            </li>
          </ul>
        </div>
        <div class="flex-auto flex justify-evenly">
          <a href="/login" class="hover:text-green-100 transition">
            Ingresar
          </a>
          <a href="/register" class="hover:text-yellow-200 transition">
            Regístrarse
          </a>
        </div>
      </nav>
    </header>

    <ul
      class="mt-10 pb-8 px-[4rem] w-full flex overflow-x-auto gap-8 snap-x snap-mandatory"
    >
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/Vistas/barbie-slide1.jpeg"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Jugueteria</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Ultimó producto Barbie
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Ir a verlo
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/Vistas/spiderman-slide2.jpeg"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Jugueteria</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Ultimás piezas de construcción
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Ir a verlo
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/Vistas/frozen-slide3.jpeg"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Jugueteria</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Productos del mundo Disney
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Ir a verlo
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/Lego-logo.jpg"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Mundo Lego
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/fisher-price-png.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Fisher Price
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/play-doh-715x400.jpg"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Play Doh!
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/Hot-Wheels-Logo.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Hot Wheels
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/Hasbro-Logo.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Hasbro
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/2560px-Toys__R__Us_logo.svg.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Toys R
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/Mattel-Logo-1969.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Matel
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/barbie.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Barbie
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/nenuco-715x400.jpg"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Nenuco
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/Bizak_logo.svg.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Bizak
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/mark.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                Toy Biz
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
      <li class="snap-center">
        <div
          class="relative flex-shrink-0 max-w-[95vw] overflow-hidden rounded-3xl"
        >
          <img
            src="images/a.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom"
          />
          <div
            class="absolute inset-0 h-full w-full bg-gradient-to-br from-black/75"
          ></div>
          <div
            class="relative h-96 w-[768px] p-12 flex flex-col justify-between items-start"
          >
            <div>
              <p class="font-medium text-white">Marcas</p>
              <h2
                class="mt-3 w-2/3 text-3xl font-semibold tracking-tight text-white"
              >
                BabyShop
              </h2>
            </div>
            <a
              href="#"
              class="px-4 py-3 rounded-lg bg-white text-slate-900 text-sm font-medium"
            >
              Mira sus productos
            </a>
          </div>
        </div>
      </li>
    </ul>

    <footer class="bg-[#ba7cf7] mt-20 p-8 flex justify-between">
        <div class="flex flex-col flex-1 justify-evenly border-r-2">
          <h3>CONTACTENOS:</h3>
          <div class="text-right mr-4">
            <p>ventas@playgroundjugueteria.com</p>
            <p>+56 9999 5555</p>
          </div>
        </div>
        <div class="flex flex-col flex-1 justify-evenly border-r-2">
          <h3 class="pl-4">INFORMACIÓN:</h3>
          <div class="text-right mr-4 flex flex-col">
            <a href="#" class="hover:text-white transition">Devolución</a>
            <a href="#" class="hover:text-white transition">Despacho</a>
            <a href="#" class="hover:text-white transition">Ventas mayoristas</a>
          </div>
        </div>
        <div class="flex flex-col flex-1 justify-evenly border-r-2">
          <h3 class="pl-4">FORMAS DE PAGO:</h3>
          <div class="text-right mr-4 text-[50px]">
            <i class="fab fa-cc-visa hover:bg-white hover:text-blue-400 transition-all"></i>
            <i class="fab fa-cc-mastercard hover:text-orange-300 hover:bg-red-600 transition-all"></i>
            <i class="fab fa-cc-paypal transition-al hover:text-blue-400 hover:bg-white"></i>
          </div>
        </div>
        <div>
          <div class="flex justify-center items-center">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d255858.18448484907!2d-74.11976343055036!3d40.697663748391925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2scl!4v1643680349834!5m2!1ses!2scl"
              width="350"
              height="250"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
    </footer>
  </body>
</html>
